# Entorno Virtual de Python
venv/
.venv/
venv_config/

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Carpetas de datos del usuario
input/
catalogos/

# Archivos de datos generados por la aplicación
datos/processed_files.json
datos/diccionario_referencia.json
datos/arancel_clasificacion.json

# Archivos de datos generados
*.parquet