# requirements-config.txt - Para la herramienta de configuración

pandas
openpyxl
dash
dash-bootstrap-components
# Dependencias necesarias para la lógica de limpieza que ejecuta el configurador
fuzzywuzzy
python-Levenshtein
camelot-py[cv]
pyarrow